body {
  padding: 0px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid green;
}

th {
    text-align: left;
    background-color: #123456;
    color: white;
}

td {
    padding: 15px;
}